@media (max-width: 1024px)  AND (min-width: 768px){
  .viewpc {
    display: none;
  }
  .viewmb {
    display: block;
  }
  /* ヘッダー・ハンバーガーメニュー */
  header .inner {
    width: 768px;
    margin: 0 auto;
  }
  header .inner .viewmb .topnav {
    overflow: hidden;
    position: relative;
  }
  header .inner .viewmb .topnav a {
    background-color: rgba(26, 26, 26, 0.7);
    color: var(--accent-color);
    text-decoration: none;
    font-size: 2em;
    display: block;
  }
  header .inner .viewmb .topnav .nav-logo {
    padding-left: 20px;
    width: 170px;
    height: 50px;
    margin: 25px 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
  }
  header .inner .viewmb .topnav #myLinks {
    display: none;
  }
  header .inner .viewmb .topnav .nav-links a {
    height: 75px;
    line-height: 75px;
    font-weight: bold;
    text-align: center;
  }
  header .inner .viewmb .topnav .icon {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
  /* ニュースエリア */
  main .infomation-area .inner {
    width: 768px;
    margin: 0 auto;
  }
  main .infomation-area .inner dl {
    padding: 0 20px;
    font-size: 1.1em;
    line-height: 1.1em;
  }
  /* メニューエリア */
  main .menu-area .inner {
    width: 768px;
    margin: 0 auto;
  }
  main .menu-area .inner .row {
    padding: 0 20px;
  }
  main .menu-area .inner .row .column img {
    padding-top: 40px;
  }
  /* 予約エリア */
  main .reserve-area .inner {
    width: 768px;
    margin: 0 auto;
  }
  /* 店舗情報エリア */
  main .store-area .inner {
    width: 768px;
    margin: 0 auto;
  }
  main .store-area .inner .table-list {
    margin: 30px 20px 0 20px;
    width: 728px;
  }
  main .store-area .inner .sns-area {
    padding: 0 20px;
  }
  main .store-area .inner .sns-area a {
    width: 175px;
    font-size: 24px;
  }
  /* アクセスエリア */
  main .access-area .inner {
    width: 768px;
    margin: 0 auto;
  }
  main .access-area .inner iframe {
    padding: 0 20px;
    width: 728px;
    height: 560px;
  }
  /* お問い合わせエリア */
  main .contact-area .inner {
    width: 768px;
    margin: 0 auto;
  }
  main .contact-area .inner .form-simple {
    padding: 0 20px;
    width: 728px;
  }
  /* フッター */
  footer .inner {
    width: 768px;
    margin: 0 auto;
    padding-top: 0;
  }
  footer .inner .ftr-navi {
    margin: 0;
    padding: 0;
  }
  footer .inner .ftr-navi li {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: left;
    text-indent: 2em;
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
  }
  footer .inner .ftr-navi li a {
    min-width: 140px;
  }
  footer .inner .ftr-navi li a:hover {
    text-decoration: none;
  }
}
