@charset "UTF-8";
/* リセットCSS */
@import url("normalize.css");
/* Web Font */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

/* ページ全体 */
:root {
  /* メインカラー Black */
  --main-color: #1a1a1a;
  /* サブカラー１ Gray01 */
  --sub-color-01: #f0f0f0;
  /* サブカラー２ Gray02 */
  --sub-color-02: #cfcfcf;
  /* アクセントカラー Gold */
  --accent-color: #B4A990;
}
body {
  background-color: var(--main-color);
  color: var(--accent-color);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Go Pro", "游ゴシック", YuGothic, "MS P ゴシック", "MS PGothic", sans-serif;
  font-size: 1em;     /* 16px */
  line-height: 1.5em; /* 24px */
}
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}
/* ヘッダー */
header {
  width: 100%;
  height: 100px;
  background-color: rgba(26, 26, 26, 0.7);
  position: absolute;
  z-index: 1;
}
header .inner {
  width: 980px;
  margin: 0 auto;
  padding: 14px 0;
}
header .inner .headerlogo {
  width: 247px;
  float: left;
  font-family: 'Permanent Marker', cursive;
}
header .inner .headerlogo a {
  color: var(--accent-color);
  text-decoration: none;
}
header .inner nav {
  margin-left: 300px;
}
header .inner nav ul li {
  list-style-type: none;
  float: left;
  font-size: 0.875em;
  margin-right: 28px;
  text-align: center;
  min-width: 56px;
}
header .inner nav ul li:last-child {
  margin-right: 0;
}
header .inner nav ul li a {
  color: var(--accent-color);
  text-decoration: none;
}
header .inner nav ul li a:hover {
  color: var(--sub-color-01);
}
/* メインビジュアル */
main .mainimage {
  width: 100%;
  height: 570px;
}
main .mainimage div {
  width: 980px;
  margin: 0 auto;
  text-align: right;
}
/* ニュースエリア */
main .infomation-area {
  clear: both;
  width: 100%;
  margin-top: 200px;
}
main .infomation-area .inner {
  width: 980px;
  margin: 0 auto;
}
main .infomation-area .inner dl {
  font-size: 1.4em;
}
main .infomation-area .inner dl dt {
  float: left;
  width: 7em;
  margin-bottom: 1em;
}
main .infomation-area .inner dl dd {
  margin-left: 9em;
  margin-bottom: 1em;
  line-height: 1.5em;
}
main .infomation-area .inner dl dd a {
  color: var(--accent-color);
  text-decoration: none;
}
/* メニューエリア */
main .menu-area {
  clear: both;
  width: 100%;
  margin-top: 100px;
}
main .menu-area .inner {
  width: 980px;
  margin: 0 auto;
}
main .menu-area .inner .column {
  float: left;
  width: 50%;
}
main .menu-area .inner .row:after {
  content: "";
  display: table;
  clear: both;
}
/* 予約エリア */
main .reserve-area {
  clear: both;
  width: 100%;
  margin-top: 100px;
}
main .reserve-area .inner {
  width: 980px;
  margin: 0 auto;
}
/* 店舗情報エリア */
main .store-area {
  clear: both;
  width: 100%;
  margin-top: 100px;
}
main .store-area .inner {
  width: 980px;
  margin: 0 auto;
}
/* アクセスエリア */
main .access-area {
  clear: both;
  width: 100%;
  margin-top: 100px;
}
main .access-area .inner {
  width: 980px;
  margin: 0 auto;
}
/* お問い合わせエリア */
main .contact-area {
  clear: both;
  width: 100%;
  margin-top: 100px;
}
main .contact-area .inner {
  width: 980px;
  margin: 0 auto;
}